@page "/"
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JsRuntime

<main>
    <div id="carouselId"
         class="carousel slide carousel-frontpage"
         data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="First slide"></li>
            <li data-bs-target="#carouselId"
                data-bs-slide-to="1"
                aria-label="Second slide"></li>
            <li data-bs-target="#carouselId"
                data-bs-slide-to="2"
                aria-label="Third slide"></li>
        </ol>
        <div class="carousel-inner" role="listbox" aria-label="Image carousel">
            <div class="carousel-item carousel-item-1 active"></div>
            <div class="carousel-item carousel-item-2"></div>
            <div class="carousel-item carousel-item-3"></div>
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselId"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#carouselId"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container marketing pt-5">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1 font-gatefold-demi pb-3">
                    Alla Hjärtans Dag är här!
                    <span class="text-muted">Skäm bort någon du tycker om!</span>
                </h2>
                <p class="lead font-ambit">
                    Överraska någon du bryr dig om på alla hjärtans dag. Just nu har vi extra många bakverk med Alla Hjärtans Dag tema!
                </p>
            </div>
            <div class="col-md-5">
                <div class="featurette-image border rounded-4 featurette-image-1 img-fluid mx-auto border border-1 w-100"></div>
            </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1 font-gatefold-demi pb-3">
                    Investera i dig själv.
                    <span class="text-muted">Unna dig lite vardagslyx!</span>
                </h2>
                <p class="lead font-ambit">
                    Sätt lite guldkant på vardagen genom att unna dig något du tycker
                    om. Vi har kakor och bakverk för alla smaker. Spana in vårt
                    sortiment på sidan "Sortiment"
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <div class="featurette-image border rounded-4 featurette-image-2 img-fluid mx-auto border border-1 w-100"></div>
            </div>
        </div>

        <hr class="featurette-divider" />
    </div>
</main>

@code
{


	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
        if (firstRender)
        {
            //await JsRuntime.InvokeAsync<object>("initializeCarousel");
            firstRender = false;
        }
	}
}
