
<a href="/cart" class="nav-link">
    <div class="cart nav-item">
        <i class="bi bi-cart2"></i>
        <div id="cart-amount"
             class="cart-amount cart-amount-div rounded-circle d-flex justify-content-center align-items-center bg-pastel-red text-light top-0 end-0 fs-7 fw-semibold">
            0
        </div>
    </div>
</a>
@code {

}
