<div
    class="container-fluid bg-pastel-yellow font-ambit-regular mt-auto"
    style="height: 300px"
>
    <div class="container">
        <footer class="py-5">
            <ul class="nav justify-content-center pb-3 mb-3">
                <li class="nav-item">
                    <a href="" class="nav-link px-2 text-dark">Hem</a>
                </li>
                <li class="nav-item">
                    <a href="products" class="nav-link px-2 text-dark">Produkter</a>
                </li>
                <li class="nav-item">
                    <a href="about" class="nav-link px-2 text-dark">Om oss</a>
                </li>
                <li class="nav-item">
                    <a href="recipes" class="nav-link px-2 text-dark">Recept</a>
                </li>
                <li class="nav-item">
                    <a href="cart" class="nav-link px-2 text-dark">Varukorg</a>
                </li>
            </ul>
            <p class="text-center text-dark">© 2023 BagarBasse AB</p>
        </footer>
    </div>
</div>

@code {

}
